<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.campushub.mapper.TaskLikeMapper">
    <resultMap id="TaskLikeResultMap" type="com.campushub.entity.TaskLike">
        <id property="id" column="id"/>
        <result property="taskId" column="task_id"/>
        <result property="userId" column="user_id"/>
        <result property="createdAt" column="created_at"/>
    </resultMap>

    <select id="selectByTaskIdAndUserId" resultMap="TaskLikeResultMap">
        SELECT * FROM task_likes WHERE task_id = #{taskId} AND user_id = #{userId} LIMIT 1
    </select>

    <select id="selectLikedTaskIdsByUserIdAndTaskIds" resultType="java.lang.Long">
        SELECT task_id FROM task_likes
        WHERE user_id = #{userId}
          AND task_id IN
        <foreach collection="taskIds" item="taskId" open="(" separator="," close=")">
            #{taskId}
        </foreach>
    </select>

    <insert id="insert" parameterType="com.campushub.entity.TaskLike" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO task_likes (task_id, user_id, created_at)
        VALUES (#{taskId}, #{userId}, #{createdAt})
    </insert>

    <delete id="deleteByTaskIdAndUserId">
        DELETE FROM task_likes WHERE task_id = #{taskId} AND user_id = #{userId}
    </delete>

    <delete id="deleteByTaskId">
        DELETE FROM task_likes WHERE task_id = #{taskId}
    </delete>
</mapper>
